body {
    background-color: darkgreen;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: goldenrod;
}

ul {
    text-align: center;
   font-size: 30px;
   
    
}

a {
    text-decoration: none;
    color: greenyellow;
}

li {
    width: 200px;
    height: 100px;
    display: inline;
    border: solid darkcyan 5px;
    padding: 10px;
    margin: 0 40px;
}