body {
    background-color: darkolivegreen;
    font-family: 'Courier New', Courier, monospace;
}


img {
    height: 400px;
    width: auto;
}

h1 {
    background-color: lightslategray;
}

h2 {
    font-size: 30px ;
}

p {
    font-size: 25px;
}

ul {
    font-size: 20px;
}

ol {
    font-size: 20px;
}